<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title> Owner Management</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>

<body>
	<div  class="container my-3">
		<h1 style="text-align:center">Owner List</h1>

		<form th:action="@{/selectedOwner}" align="center" method="GET">
				<input type="text" name="keyword" th:value="${keyword}"  placeholder="Find by Owner Name" size="30" >
				<button type="submit" class="btn btn-success">Search</button>
	
		</form>
		<a th:href="@{/showNewOwnerForm}" class="btn btn-primary btn-sm mb-3">Add New Pet Owner</a>
		<a th:href="@{/pets}" class="btn float-right btn-warning btn-sm mb-3">Go to Pet List</a>
		
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr> 
				    <th>id</th>
					<th>Owner Full Name</th>
					<th>Owner's Pets</th>
					<th>Phone</th>
					<th>Email</th>
					<th>Address</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="owners :${listOwners}">
				    <td th:text="${owners.id}"></td>
					<td th:text="${owners.fullname}"></td>
					<td th:text="${owners.ownerPets}"></td>
					<td th:text="${owners.phone}"></td>
					<td th:text="${owners.email}"></td>
					<td th:text="${owners.address}"></td>
					<td>
					     <a th:href="@{/showFormForUpdate/{id}(id=${owners.id})}" class="btn btn-info">Update</a>
					     <a th:href="@{/deleteOwner/{id}(id=${owners.id})}"  class="btn btn-danger">Delete</a> 
				    </td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>